<div class="container-fluid py-4 px-md-4">
  <h1 class="mt-4 pb-4">The Artists</h1>
  @for (artist of artists(); track $index) {
    <div class="row align-items-center artist-row mb-5 flex-column flex-md-row">
      <div class="col-md-8 col-12 text-md-start text-center mb-3 mb-md-0">
        <h5 class="artist-name">{{ artist.name }}, <span class="artist-age">{{ artist.age }}</span></h5>
        <p class="artist-bio">{{ artist.bio }}</p>
      </div>
      <div class="col-md-4 col-12 d-flex justify-content-center">
        <img
          [src]="artist.name === 'Gregory' ? getGregImage() : getClaraImage()"
          alt="{{ artist.name }}"
          class="artist-img shadow-glow"
          [class.greg-img]="artist.name === 'Gregory'"
          [class.clara-img]="artist.name === 'Clara'"
        >
      </div>
    </div>
  }
</div>