@use 'variables' as vars;
@use "sass:color";

.commissions-container {
  background: vars.$primary;
  color: whitesmoke;
}

fa-icon {
  color: whitesmoke;
}

.btn {
  background: color.adjust(vars.$secondary, $lightness: -10%);
  color: whitesmoke;
  border: none;

  &:hover {
    background: vars.$secondary;
  }
}