@use 'variables' as vars;

.collections-container {
  color: vars.$light;
  background: vars.$secondary;
}

.collection {
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.card {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title {
  position: absolute;
  background: transparent;
  font-size: 1.75rem;
  font-weight: 600;
  bottom: 2px;
  left: 16px;

  @media (min-width: 500px) and (max-width: 850px) {
    font-size: 1.25rem;
    left: 12px;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
    left: 10px;
  }
}

.card-img-top {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}